!**/packages/build/
$tf/
**/.DS_Store
**/packages/*
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.build.csdef
*.Cache
*.cache
*.cachefile
*.cd
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.exe
*.gpState
*.ide/
*.ilk
*.ldf
*.lib
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.npp
*.nupkg
*.obj
*.opensdf
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.ide/
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.vcxproj.filters
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.idea/
.JustCode
.sass-cache/
.vs/
a.out
AppPackages/
AutoTest.Net/
Backup*/
bld/
bower_components/
build/
ClientBin/
cmake-build-*/
CMakeFiles/
CMakeSettings.json
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
FakesAssemblies/
Generated_Code/
ipch/
nbproject/*
node_modules/
obj/
publish/
sql/
TestResult.xml
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug*/
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease*/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*
