name: Ubuntu

on:
  push:
    branches-ignore: dev
  pull_request:
    branches-ignore: dev
    

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Add LLVM Repo
      run: sudo sh ./ci_llvm_apt.sh
    - name: Download & Build Dependencies
      run: |        
        sudo apt update
        sudo apt install clang-9 libc++-9-dev libc++abi-9-dev
    - name: Build
      run: ./ci_ubuntu_build.sh
    - name: Test
      run: ./ci_ubuntu_test.sh
       
